{% extends "accounts/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/index.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kulim Park">
{% endblock %}


{% block body_block %}
<div id="index">
    
        <div class="sign">
          <span class="flicker">NU</span>advert<span class="flicker">S</span>
        </div>

        <div class="btns">
          <a class="btn" href="{% url 'accounts:user_login' %}" role="button">Login</a>
          <a class="btn" href="{% url 'accounts:register' %}" role="button">Register</a>
        </div>
        
 
</div>
    
{% endblock %}
