/* styles.css if for cumulative styling!
However, to change style of a specific hX element,
you can just change its hX style code individually
eg <h2 style="color:magenta">Style:color</h2>
*/

h2 {
  color: pink;
  text-align:center;
  font-family: Arial, sans-serif
  /* include more fonts jic some browsers do not support the first ones*/
}

/* when h2 is selected, these changes will be made */
h2::selection{
  background-color: lightYellow
}

#showcasediv{
  background-color:pink;
  border:3px solid skyBlue;
  /* OR border:3px dotted blue */
  text-align:center;
  font-size: 20px;
  font-family:Helvetica;
  width:500px;
  height:30px;
  margin-left:auto;
  margin-right: auto;
}

div{
  padding:15px
}

table{
  border: 2px solid grey;
  border-collapse: collapse; /*removes double border*/
  width: 50%;
}

/* styling applies to multiple elements: use comma */
th, td{
  border:1px solid grey;
  padding:5px;
  text-align: center;
}

th{
  background-color: lightyellow;
}

.name{
  font-weight:bold;
  color:pink;
}

/* styling for a, before/after its assigned text */
a::before{
  content: "\1F36D Click here:";
  font-weight:bold;
}

a::after{
  content: " | hoho amazing \1F385 ";
}



ul li{
  color: crimson;
}

/* selects immediate children from ordered list. grandchildren,
aka nested elements will not be affected */
ol > li{
  color:teal;
}

input[type=text]{
  background-color: lavender;
}


input[type=password]{
  background-color:lavender;
}

button{
  width: 200px;
  height:50px;
  font-size:24px;
  background-color: paleTurquoise;
}

/* when cursor hovers button */
button:hover{
  background-color:lavender;
}


@media print{
  .screen-only{
    display:none;
  }
}

/* controlling background color and content depending on width of screen */
@media (min-width:800px){
  body{
    background-color:azure;
  }
  h1::before{
    content: "Konichiwa! "
  }
}

@media (max-width:799px){
  body{
    background-color:lavenderBlush;
  }
  h1::before{
    content: "Hello! "
  }
}


.container{
  display:flex;
  flex-wrap:wrap;
}

.container > div {
  background-color: pink;
  font-size:20px;
  margin:20px;
  padding:20px;
  width:200px;
  text-align: center;
  
}
