$color1: skyBlue;
$color2: pink;
$color3: lavender;
$color4: azure;
$color5: paleTurquoise;


body{
  font-family: "Trebuchet MS","Lucida Grande";
}

h1,h2{
  text-align:center;
}

h1{
  color: $color1;
}

h2{
  color:$color2;
  text-decoration: underline;
}

/* when h2 is selected, these changes will be made */
h2::selection{
  background-color: lightYellow;
}

.name{
  font-weight:bold;
  color:$color2;
}

#showcasediv{
  background-color:$color3;
  border:3px solid $color1;
  /* OR border:3px dotted blue */
  text-align:center;
  font-size: 20px;
  width:500px;
  height:30px;
  margin-left:auto;
  margin-right: auto;
}

div{
  padding:15px;
}

/* styling for a, before/after its assigned text */
a::before{
  content: "\1F36D Click here:";
  font-weight:bold;
}

a::after{
  content: " | \1F385 ";
}


ul li{
  color: black;
}

/* selects immediate children from ordered list. grandchildren,
aka nested elements will not be affected */
ol > li{
  color:black;
}


table{
  border: 2px solid black;
  border-collapse: collapse; /*removes double border*/
  width: 50%;
}

/* styling applies to multiple elements: use comma */
th, td{
  border:1px solid grey;
  padding:5px;
  text-align: center;
}

th{
  background-color: $color5;
}

input[type=text]{
  background-color: $color3;
}


input[type=password]{
  background-color:$color3;
}

button{
  width: 200px;
  height:50px;
  font-size:24px;
  background-color: $color5;
}

/* when cursor hovers button */
button:hover{
  background-color:$color3;
}


%message{
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid black;
  padding:20px;
  margin:20px;
}

.success{
  @extend %message;
  background-color:$color5;
}

.warning{
  @extend %message;
  background-color:bisque;
}

.error{
  @extend %message;
  background-color:hotPink;
}

@media print{
  .screen-only{
    display:none;
  }
}

/* controlling background color and content depending on width of screen */
@media (min-width:800px){
  body{
    background-color:azure;
  }
  h1::before{
    content: "Konichiwa! "
  }
}

@media (max-width:799px){
  body{
    background-color:lavenderBlush;
  }
  h1::before{
    content: "Hello! "
  }
}


.container{
  display:flex;
  flex-wrap:wrap;
}

.container > div {
  background-color: $color3;
  font-size:20px;
  margin:20px;
  padding:20px;
  width:200px;
  text-align: center;
}

.grid{
  background-color: dodgerBlue;
  display: grid;
  padding:20px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-template-columns: 200px 200px auto;
  /* ^ how wide i want each column to be: 200px for first 2,
  remaining space for last one */
}

.grid-item{
  background-color: white;
  font-size:20px;
}


// styling for paragraphs and ul inside dividers
// good for styling nested elements!
// div{
//   font-size: 18px;
//
//   p{
//     color:blue;
//   }
//
//   ul{
//     color:green;
//   }
// }
