{% extends "survey/base.html" %}
{% load static %}
{% block css %}
<!-- link to createdsurveys.css -->
<link rel="stylesheet" type="text/css" href="{% static 'survey/tracksurvey.css'%}">
{% endblock %}


{% block navbar %}
<div class="nav_box">
<header class="navbarheader">
<div class=nav>
  <ul class=navbarlist>
    <a href="{% url 'survey:dashboard' %}" role="button">Home</a>
    <a href="{% url 'accounts:profile' %}" role="button">Profile</a>
    <a href="{% url 'survey:survey' %}" role="button" class="active">Survey</a>
    <a href="{% url 'survey:shoprewards' %}" role="button">Rewards</a>
    <a href="{% url 'survey:report' %}" role="button">Report</a>
    <a href="{% url 'logout' %}" id="logout">Logout</a>
  </ul>
</div>
</header>
</div>
{% endblock %}





{% block body_block %}
{% load widget_tweaks %}

<div class="main">
  <h1> Completed Surveys </h1>
  <ul class="cards">
    {% for survey in allcompletedsurveys.completedsurveys.all %}
      <li class="cards_item">

      <div class="blog-card">

          <div class="title-content">
            <h3>
              <a href="{% url 'survey:tracksurvey-detail' survey.id %}" style="color:lightblue"> {{survey.surveytitle}} </a>
          </h3>
            <hr />
            <div class="intro">
              <a href="{{survey.surveylink}}" class="surveylinkbutton"> {{survey.surveylink}} </a>
            </div>
          </div><!-- /.title-content -->

          <div>
            <ul class="utility-list">
              <span class="glyphicon glyphicon-user" aria-hidden="true" style="color:white"> </span>
              <li class="user">{{survey.user}}</li>
              <span class="glyphicon glyphicon-time" aria-hidden="true" style="color:white"> </span>
              <li class="date">{{survey.uploadDate}}</li>
              <span class="glyphicon glyphicon-tags" aria-hidden="true" style="color:white"> </span>
              <li class="tags">{{survey.surveycategory}}</li>
            </ul>
          </div><!-- /.utility-info -->

          <div class="card-info">
              {{survey.surveydescription}}
          </div><!-- /.card-info -->


          <!-- overlays -->

          <div class="color-overlay"></div>

        </div><!-- /.blog-card -->

    </li>
    {% endfor %}
  </ul>

</div>

{% endblock %}
