{% extends "survey/base.html" %}
{% load static %}
<!-- dashboard.css -->
{% block css %}

{% endblock %}
{% load widget_tweaks %}
{% block body_block %}
<h1>Filter Surveys</h1>
  <form method="get">
    {{ dashboardfilter.form.as_p }}
    <button type="submit">Search</button>
  </form>

  <ul>
  {% for survey in dashboardfilter.qs %}
    <li>{{ survey.surveytitle }} - {{ survey.surveylink }}</li>
    <a href="{% url 'completedsurveys_update' pk=survey.pk %}" class="uk-button uk-button-default">Update</a>
  {% endfor %}
  </ul>


{% endblock %}
