{% extends "survey/base.html" %}
{% block body_block %}
<div id="index">
    <!-- After authentication part to be changed: redirect to dashboard -->
    {% if user.is_authenticated %}
        <!-- include navi bar here -->
        <h2>Hello {{ user.username }}</h2>
        <a class="btn btn-primary custom3" href="{% url 'logout' %}" role="button">Logout</a>

        {% else %}
        <div class="sign">
          <span class="flicker">NU</span>advert<span class="flicker">S</span>
        </div>

        <div class="btns">
          <a class="btn" href="{% url 'accounts:user_login' %}" role="button">Login</a>
          <a class="btn" href="{% url 'accounts:register' %}" role="button">Register</a>
        </div>
        
</div>
    {% endif %}
{% endblock %}
