{% extends "survey/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'survey/rewards.css' %}">
{% endblock %}

{% block body_block %}

<div id="rewards">

        <div class="sign">
          <span class="flicker">REWARDS</span>
        </div>

        <div class="btns">
          <a class="btn" href="{% url 'survey:shoprewards' %}" role="button">Shop Rewards</a>
          <a class="btn" href="{% url 'survey:redeemedrewards' %}" role="button">Redeemed Rewards</a>
        </div>


</div>

{% endblock %}
