{% extends "survey/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'survey/uploadsurvey_detail.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'survey/uploadsurvey.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'accounts/profile.css'%}">
{% endblock %}

{% block navbar %}
<div class="nav_box">
<header class="navbarheader">
<div class=nav>
  <ul class=navbarlist>
    <a href="{% url 'survey:dashboard' %}" role="button">Home</a>
    <a href="{% url 'accounts:profile' %}" role="button">Profile</a>
    <a href="{% url 'survey:survey' %}" role="button" class="active">Survey</a>
    <a href="{% url 'survey:shoprewards' %}" role="button" >Rewards</a>
    <a href="{% url 'survey:report' %}" role="button" >Report</a>
    <a href="{% url 'logout' %}" id="logout">Logout</a>
  </ul>
</div>
</header>
</div>
{% endblock %}


{% block body_block %}
{% load widget_tweaks %}
<div class=detail-box>
<h1> {{object.surveytitle}} </h1>
<div>
    <ul class="utility-list">
      <span class="glyphicon glyphicon-user" aria-hidden="true" style="color:white"> </span>
      <li class="user">{{object.user}}</li>
      <span class="glyphicon glyphicon-time" aria-hidden="true" style="color:white"> </span>
      <li class="date">{{object.uploadDate}}</li>
      <span class="glyphicon glyphicon-tags" aria-hidden="true" style="color:white"> </span>
      <li class="tags">{{object.surveycategory}}</li>
    </ul>
</div>

  <div class=form-row>

    <label for="surveylink" class="login__label"> Survey Link </label>
    <div class="surveylinkbutton">
    {{object.surveylink}}
    </div>

  </div>

  <div class=form-row>

    <label for="surveydescription" class="login__label"> Survey Description </label>

    <div class="surveylinkbutton">
        {{object.surveydescription}}

    </div>

  </div>



  <!-- Add target audience stuff here -->
  <div class="box">
    <a href="{% url 'survey:updatesurvey' object.id %}" id="edit-button">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Edit
    </a>
</div>

<div class="box">
    <a href="{% url 'survey:deletesurvey' object.id %}" id="delete-button">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Delete
    </a>
</div>

<div class="back">
    <button onclick=history.back() class="back-button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="color:white"> </span></button>
</div>

</div>

{% endblock %}
