{% extends "survey/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/profile.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'survey/uploadsurvey.css'%}">

{% endblock %}

{% block navbar %}
<div class="nav_box">
<header class="navbarheader">
<div class=nav>
  <ul class=navbarlist>
    <a href="{% url 'survey:dashboard' %}" role="button">Home</a>
    <a href="{% url 'accounts:profile' %}" role="button">Profile</a>
    <a href="{% url 'survey:survey' %}" role="button" class="active">Survey</a>
    <a href="{% url 'survey:shoprewards' %}" role="button" >Rewards</a>
    <a href="{% url 'survey:report' %}" role="button" >Report</a>
    <a href="{% url 'logout' %}" id="logout">Logout</a>
  </ul>
</div>
</header>
</div>
{% endblock %}


{% block body_block %}
{% load widget_tweaks %}

<div id="uploadsurvey-box" class="box">

  <h1 class=survey_header>
    Your Survey
  </h1>

  <form method="POST" id="uploadsurvey_form">
    {% csrf_token %}
      <div class=form-row>
        <label for="surveytitle" class="login__label"> Survey Title </label>
        {{form.surveytitle}}
      </div>

      <div class=form-row>

        <label for="surveylink" class="login__label"> Survey Link </label>
        {{form.surveylink}}

      </div>

      <div class=form-row>

        <label for="surveydescription" class="login__label"> Survey Description </label>
        {{form.surveydescription}}

      </div>


      <div class=form-row>

        <label for="surveycategory" class="login__label"> Survey Category </label>
        {{form.surveycategory}}
      </div>

      <div class=form-row>

        <label for="gender_filter" class="login__label"> Gender Filter</label>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script>
        $(document).ready(function(){
      $("select").change(function(){
          $(this).find("option:selected").each(function(){
              var optionValue = $(this).attr("value");
              if(optionValue){
                  $(".box1").not("." + optionValue).hide();
                  $("." + optionValue).show();
              } else{
                  $(".box1").hide();
              }
          });
      }).change();
  });
        </script>

        <select class="login__input" id='login-input-user'>
          <option>Filter by Gender?</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>

        {% for checkbox in form.gender_filter %}
        <div class="checkbox yes box1 login__input" id='login-input-user'>
            <label class="genderfilter">
                    {{ checkbox.tag }} {{ checkbox.choice_label }}
            </label>
        </div>
        {% endfor %}

      </div>

      <div class=form-row>

        <label for="singaporean_filter" class="login__label"> Singaporean Filter</label>
        <select class="login__input" id='login-input-user'>
          <option>Singaporean?</option>
          <option value="yes2">Yes</option>
          <option value="no">No</option>
        </select>

        {% for checkbox in form.singaporean_filter %}
        <div class=" yes2 box1 checkbox login__input" id='login-input-user'>
            <label class="genderfilter">
                    {{ checkbox.tag }} {{ checkbox.choice_label }}
            </label>
        </div>
        {% endfor %}

      </div>

      <div class=form-row>

        <label for="faculty_filter" class="login__label"> Faculty Filter</label>

        <select class="login__input" id='login-input-user'>
          <option>Filter by Faculty?</option>
          <option value="yes3">Yes</option>
          <option value="no">No</option>
        </select>

        {% for checkbox in form.faculty_filter %}
        <div class="yes3 box1 checkbox login__input" id='login-input-user'>
            <label class="genderfilter">
                    {{ checkbox.tag }} {{ checkbox.choice_label }}
            </label>
        </div>
        {% endfor %}

      </div>

      <div class=form-row>

        <label for="year_filter" class="login__label"> Year Filter</label>
        <select class="login__input" id='login-input-user'>
          <option>Filter by Year?</option>
          <option value="yes4">Yes</option>
          <option value="no">No</option>
        </select>

        {% for checkbox in form.year_filter %}
        <div class="yes4 box1 checkbox login__input" id='login-input-user'>
            <label class="genderfilter">
                    {{ checkbox.tag }} {{ checkbox.choice_label }}
            </label>
        </div>
        {% endfor %}

      </div>

      <div class=form-row>

        <label for="residential_filter" class="login__label"> Residential Filter</label>
        <select class="login__input" id='login-input-user'>
          <option>Filter by Residential Type?</option>
          <option value="yes5">Yes</option>
          <option value="no">No</option>
        </select>

        {% for checkbox in form.residential_filter %}
        <div class="yes5 box1 checkbox login__input" id='login-input-user'>
            <label class="genderfilter">
                    {{ checkbox.tag }} {{ checkbox.choice_label }}
            </label>
        </div>
        {% endfor %}

      </div>


      <div class="box submit-button">
        <a href="#" onclick= "document.getElementById('uploadsurvey_form').submit()" id="update-button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </a>
    </div>

  </form>
</div>



{% endblock %}
