{% extends "survey/base.html" %}
{% load static %}
{% block css %}
<!-- link to uploadsurvey.css -->
{% endblock %}

{% block body_block %}
{% load widget_tweaks %}
<div id="uploadsurvey-box" class="box">
  <form method="POST" action="{% url 'survey:survey' %}" id="uploadsurvey_form">
    {% csrf_token %}
    {% for field in uploadsurvey_form.visible_fields %}
      <div class="form-group">
        {{ field.label_tag }}
        {% render_field field class="form-control" %}
        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
      </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>




{% endblock %}
