{% extends 'NUadvertS/base.html' %}
{% block body_block %}

  <div id="login-box" class="box">
    <h2>Login</h2>
    <form method="POST" action="{% url 'NUadvertS:user_login' %}" id="login_form" >
      {% csrf_token %}
      <div class="user-box">
        <input type="text" name="username" required="">
        <label for="username">Username</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" required="">
        <label for="password">Password</label>
      </div>
      <a href="#" onclick= "document.getElementById('login_form').submit()" id="login-submit-button">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Login
      </a>
    </form>
    <div class="text-muted">
      <br>
      Not a user? Register <a href="{% url 'NUadvertS:register' %}"> here</a>
      <br> &copy NUadvertS 2020
    </div>
  </div>

  {% endblock %}
