{% extends "accounts/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/accounts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'survey/index.css' %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block body_block %}

<div id="registration-box" class="box">
      {% if registered %}
        <h1>You have successfully created your account. Thank you for registering!</h1>
      {% else %}
        <h2> Create your account</h2>

        <!-- Form -->
        <form enctype="multipart/form-data" method="POST" action="{% url 'accounts:register' %}" id="registration_form">
          {% csrf_token %}
        <!-- Username & PW in same row -->

          <div class="user-box">
                {{user_form.username}}
                <label for="username"> Username</label>
          </div>
          <div class="user-box">
                {{ user_form.password}}
                <label for="password"> Password </label>
          </div>

          <!-- Email to be in a single row -->
          <div class="user-box">
                {{ profile_form.email}}
                <label for="email"> Email </label>
          </div>

          <!-- nationality, age, dob, gender, residential type to be in a single row -->
          <div class="form-row user-box">
            <div class="form-group col-md-3 mb-0">
            <div class="registration-input-dropdown">
              {{ profile_form.nationality}}
              <label for="nationality"> Nationality </label>
              </div>
            </div>
            <div class="form-group col-md-3 mb-0">
              <div class="registration-input-dropdown">
                {{ profile_form.singaporean}}
                <label for="singaporean"> Singaporean? </label>
                </div>
            </div>
            <div class="form-group col-md-2 mb-0">
              <div class="registration-input">
              {{ profile_form.age}}
              <label for="age"> Age </label>
              </div>
            </div>
            <div class="form-group col-md-4 mb-0">
              <div class="registration-input">
              {{ profile_form.dob}}
              <label for="dob"> Date of Birth </label>
              <div class="help-text">
              {{profile_form.dob.help_text}}
            </div>
            </div>
            </div>
            <div class="form-group col-md-2 mb-0">
              <div class="registration-input-dropdown">
              {{ profile_form.gender}}
              <label for="gender"> Gender </label>
            </div>
            </div>
            <div class="form-group col-md-2 mb-0">
              <div class="registration-input-dropdown">
              {{ profile_form.currentresidentialtype}}
              <label for="currentresidentialtype"> Residential Type </label>
            </div>
            </div>
          </div>


          <!-- matric in one row  -->
            <div class="form-row user-box">
            <div class="form-group col-md-6 mb-0">
              <div class="registration-input">
              {{ profile_form.matriculationNumber}}
              <label for="matriculationNumber"> Matric Number </label>
              <div class="help-text">
              {{profile_form.matriculationNumber.help_text}}
              </div>
            </div>
            </div>
          </div>

          <!-- year, faculty, degree in one row  -->
          <div class="form-row user-box">
            <div class="form-group col-md-2 mb-0">
              <div class="registration-input-dropdown">
              {{ profile_form.year_in_school}}
              <label for="year_in_school"> Year in School </label>
            </div>
            </div>

            <div class="form-group col-md-3 mb-0">
              <div class="registration-input-dropdown">
              {{ profile_form.faculty}}
              <label for="faculty"> Faculty </label>
            </div>
          </div>

            <div class="form-group col-md-9 mb-0">
              <div class="registration-input">
              {{ profile_form.degree}}
              <label for="degree"> Degree </label>
            </div>
            </div>


        </div>


          <!-- profile pic in one row -->
          <div class="user-box" id="pic2">
            <div class="form-group col-md-12 mb-0">
              <div>
                <label for="profile_pic" id="pic"> Profile Picture</label>
                {{ profile_form.profile_pic}}
            </div>
            </div>
          </div>

          <!-- Submit Button-->
          <a href="#" onclick= "document.getElementById('registration_form').submit()" id="registration-submit-button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
              Submit
          </a>
        </form>

        <div class="text-muted" id="reglog" >
         Already a user? Login <a href="{% url 'accounts:user_login' %}">here</a>
         <br> &copy NUadvertS 2020
        </div>

      {% endif %}
  </div>
{% endblock %}
