/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

html {
    background: black;
}

body {
  color: white;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  max-width: 1600px;
  margin: 0px auto;
}

h1 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 10%;
    margin-top: -10%;
  }
  
  .cards_item {
    display: flex;
    padding: 1rem;
  }
  


@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);


 .blog-card {
    border: 1px solid white;
    width: 350px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
    text-align: center; 
   
     
}

 .blog-card .color-overlay {
    /* Rectangle 11: */
    border-color: white;
	  width: 350px;
     height: 1000px;
     transition: background-color 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
     margin-top: -500px;
     margin-left: -5px
     
}

 .blog-card:hover .card-info {
     opacity: 1;
     top:10px; /*Change position of text */  
      
}
 .blog-card:hover .color-overlay {
     background: rgba(84, 104, 110, 0.658);    
}

 .title-content {
	 text-align: center;
	 
	 width: 100%;
   margin: 30px 0 0 0; /*To change height of content */
   line-height: 10px;
	 
}
 h3 {
	 font-size: 20px;
	 font-weight: 500;
	 letter-spacing: 2px;
	 color: #9cc9e3;
	 font-family: 'Roboto', sans-serif;
	 margin-bottom: 10px;
}
 hr {
	 width: 50px;
	 height: 3px;
	 margin: 15px auto;
	 border: 0;
     background: #03e9f4;
     
}
 .intro {
	 width: 170px;
	 margin: 0 auto;
	 color: #dce3e7;
	 font-family: 'Roboto', sans-serif;
	 font-size: 13px;
	 line-height: 5px;
}
 .card-info {
	 width: 100%;
	 padding: 0 50px;
	 color: #dce3e7;
	 font-family: 'Droid Serif', serif;
	 font-style: 16px;
	 line-height: 20px; /*To change utlities height*/
   opacity: 0;
   position: relative ;
   word-wrap: break-word;
 }  

 .utility-list {
	 list-style-type: none;
	 padding: 0;
   width: 100%;
   position: absolute;
   margin-left: -570px;
   margin-top: 230px;
   font-size:12px;   
   
}
 .utility-list li {
	 margin: 5px -10px 5px 0; /*To change spacing between utilities*/
	 padding: 0 20px 0 30px;
	 display: inline-block;
	 color: #dce3e7;
   font-family: 'Roboto', sans-serif;
   
}
 .utility-list li.user {
     margin-left:-20px;
     
}
 .utility-list li.date {
    margin-left:-20px; 
}
.utility-list li.tags {
    margin-left:-20px; 
}
 

.surveylinkbutton {
    color: white;
    font-size: 1.15rem;
    width: 100%;
    padding: .5rem 1rem;
    border: 2px solid transparent;
    outline: none;
    border-radius: 1.5rem;
    background-color: rgba(255, 255, 255, 0.25);
    letter-spacing: 1px;
  }
  
  .surveylinkbutton:hover,
  .surveylinkbutton:focus{
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
  }
  

  .filter-form{
    color: black;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 150px;
    margin-top: 50px;
  }

  .filter{
    margin-top: 20px;
    
  }

  .search{
    margin-top: 20px;
    background-color:white;
    border: none;
    border-radius: 10px;
  }
  