#uploadsurvey-box {
    margin-top:100px;
    
}
.submit-button{
    position: relative;
    margin-top:150px;
    margin-left: -275px;
}

.survey_header{
    color: white;
    margin-left: 100px;  
    margin-top:0px;  
}

