/*Registration/Login container styling */
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.753);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

/* Registration/Login input boxes */
.box .user-box {
    position: relative;
}

.box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    outline: none;
    background: transparent;
}

.registration-input-dropdown{
    margin-top: 30px;
    margin-left: -15px;
}


.registration-input{
    margin-left: -15px;
}

.help-text{
    margin-top:-25px;
}

.box .user-box label{
    position: absolute;
    top:0;
    left:0;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(255, 255, 255);
    pointer-events: none;
    transition: .5s;
}

.box .user-box input:focus ~ label,
.box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

/*Registration/Login Button styling */

.box form a {
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px
}


.box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}

.box a span {
    position: absolute;
    display: block;
}

.box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
    left: -100%;
    }
    50%,100% {
    left: 100%;
    }
}

.box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
    top: -100%;
    }
    50%,100% {
    top: 100%;
    }
}

.box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
    right: -100%;
    }
    50%,100% {
    right: 100%;
    }
}

.box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
    bottom: -100%;
    }
    50%,100% {
    bottom: 100%;
    }
}


/*Registration page styling */
/*Container for registration form */
#registration-box{
    height: 800px;
    width: 1000px;

}
/*header of registration form */
#register{
    padding-top:50px;
    padding-left: 340px;
    font-weight: lighter;
}

/*register button of registration form*/
#registration-submit-button{
    position: absolute;
    top: 770px;
    left: 40px;
}


/* login button on register page */
#reglog{
    position:absolute;
    top: 820px;
    left: 40px;
}

/*profile pic*/
#pic{
    margin-top:-30px;
    margin-left:15px;
}

#pic2{
    margin-left:-15px;
}

/* Login page styling */
/*Container for login form */
#login-box{
    width: 400px;
}

/* Login button of login form */
#login-submit-button{
    position: relative;
    margin-top:40px;
}